*.class

# Package Files #
*.jar
*.war
*.ear

#Gradle temporary files
build/
wrapper/dists/

#Eclipse files
**/.project
**/.classpath
**/.settings/
blog/bin/
**/.tern-project

#IntelliJ files
**/*.iml
**/.idea
**/.gradle

#Log file
*.log